/** 背景 **/
html {
  background-image: url('bg.jpg');
  background-size: cover;

}
/** 字体样式 **/
svg.font {
  fill:#000;stroke-width:1.68900001;stroke-miterlimit:4;stroke-dasharray:none
}
/** C向右移动 **/
.animate #c {
    -webkit-animation-name: show, rotate, movec;
            animation-name: show, rotate, movec;
    -webkit-animation-duration: 0.1s, 3s, 1.5s;
            animation-duration: 0.1s, 3s, 1.5s;
    -webkit-animation-delay: 1s, 1s, 2.2s;
            animation-delay: 1s, 1s, 2.2s;
    -webkit-animation-fill-mode: forwards, none, forwards;
            animation-fill-mode: forwards, none, forwards;
    -webkit-animation-iteration-count: 1, infinite, 1;
            animation-iteration-count: 1, infinite, 1;
    -webkit-animation-timing-function: ease, linear, ease;
            animation-timing-function: ease, linear, ease;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    position: absolute;
    fill: hsl(0, 100%, 70%);
}
@-webkit-keyframes movec {
    to {
        fill: #ffe;
        -webkit-transform: translateX(520px);
                transform: translateX(520px);
    }
}
@keyframes movec {
    to {
        fill: #ffe;
        -webkit-transform: translateX(520px);
                transform: translateX(520px);
    }
}

/** H顺时针旋转90° **/
.rotate-animate #h {
    -webkit-animation-name: rotate_h;
            animation-name: rotate_h;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    fill: #17A05D;
}
@-webkit-keyframes rotate_h {
    from {
        -webkit-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
    }
    to {
      fill: #001;
      -webkit-transform: rotateZ(90deg) translateY(150px);
              transform: rotateZ(90deg) translateY(150px);
    }
}
@keyframes rotate_h {
    from {
        -webkit-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
    }
    to {
      fill: #001;
      -webkit-transform: rotateZ(90deg) translateY(150px);
              transform: rotateZ(90deg) translateY(150px);
    }
}

/** e缩小 **/
.rotate-animate #e1 {
    -webkit-animation-name: scale_e;
            animation-name: scale_e;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 3.2s;
            animation-duration: 3.2s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    fill: #FFCE44;
}
@-webkit-keyframes scale_e {
    to {
      fill: #ffe;
      -webkit-transform: scale(.5);
              transform: scale(.5);
    }
}
@keyframes scale_e {
    to {
      fill: #ffe;
      -webkit-transform: scale(.5);
              transform: scale(.5);
    }
}

/** e2旋转90° **/
.rotate-animate #e2 {
    -webkit-animation-name: rotate_e;
            animation-name: rotate_e;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    -webkit-animation-duration: 3.2s;
            animation-duration: 3.2s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    fill: #FFCE44;
}
@-webkit-keyframes rotate_e {
    from {
        -webkit-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
    }
    to {
      fill: #ffe;
      -webkit-transform: rotateZ(90deg) translateY(6px) translateX(-80px) scale(.5);
              transform: rotateZ(90deg) translateY(6px) translateX(-80px) scale(.5);
    }
}
@keyframes rotate_e {
    from {
        -webkit-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
    }
    to {
      fill: #ffe;
      -webkit-transform: rotateZ(90deg) translateY(6px) translateX(-80px) scale(.5);
              transform: rotateZ(90deg) translateY(6px) translateX(-80px) scale(.5);
    }
}

svg.logo {
    display: block;
    margin: 100px auto 0;
}
